
body{
    display: flex;
justify-content: center;
align-items: center;
}
.Container{
    height: 823px;
    width: 824px;
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
}
.child-1:nth-child(even){
background-color: lightgreen;
}
img{
   margin-top: 12px;
   margin-left: 10px;
  align-items: center;
}
.child-2:nth-child(odd){
background-color: lightgreen;
}
.child-3:nth-child(even){
background-color: lightgreen;
}
.child-4:nth-child(odd){
background-color: lightgreen;
}
.child-5:nth-child(even){
background-color: lightgreen;
}
.child-6:nth-child(odd){
background-color: lightgreen;
}
.child-7:nth-child(even){
background-color: lightgreen;
}
.child-8:nth-child(odd){
background-color: lightgreen;
}
.child-1{
    height: 100px;
    width: 100px;
    border: 2px solid;
    display: flex;
}
.child-2{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.child-3{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.child-4{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.child-5{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.child-6{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.child-7{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
.child-8{
    height: 100px;
    width: 100px;
    border: 2px solid;
}
